        .search-bar {
            justify-content: space-evenly;
            align-items: center;
        }
        
        .icon {
            margin-left: -197%;
            border-radius: 50%;
            padding: 12px;
            color: orange;
        }
        
        .search-bar1 {
            border-radius: 80px !important;
            border: 1px solid orange !important;
        }
        
        .search-div {
            flex-direction: row;
            align-items: center
        }
        
        .fontSize {
            font-size: 10px;
        }
        
        .imageSize {
            height: 160px !important;
        }
        
        .full-card {
            height: 300px;
        }